server:
    port: 8084
    servlet:
        context-path : /appointment

spring:
    datasource:
        url: ${POSTGRES_URL:}
        username: ${POSTGRES_USERNAME:}
        password: ${POSTGRES_PASSWORD:}
    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
    kafka:
        bootstrap-servers: localhost:9094
        producer:
            key-serializer: org.apache.kafka.common.serialization.StringSerializer
            value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

# Microservice URLs
microservices:
    profile-service:
        url: ${PROFILE_SERVICE_URL:http://localhost:8081}
    payment-service:
        url: ${PAYMENT_SERVICE_URL:http://localhost:8083}
    video-call-service:
        url: ${VIDEO_CALL_SERVICE_URL:http://localhost:8095}


