server:
  port: 8080
  servlet:
    context-path : /identity
spring:
  datasource:
    url: ${POSTGRES_URL:}
    username: ${POSTGRES_USERNAME:}
    password: ${POSTGRES_PASSWORD:}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  kafka:
    bootstrap-servers: localhost:9094
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
  jwt:
    singerKey : ${JWT_SIGNER_KEY:}
    expired-duration: 4000 #second
    refreshable-duration: 36000 # in second
  app:
    services:
      profile: "http://localhost:8081/profile"

management:
  endpoints:
    web:
       exposure:
         include: info, health, prometheus, metrics